.manage-product table {
    width: 100%;
    border-collapse: collapse;
    min-height: 500px;
}

.manage-product td {
	padding: 16px 12px;
    vertical-align: top;
}

.manage-product label {
    font-weight: bold;
    color: #555;
}

.manage-product input,
.manage-product textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    resize: vertical;
}

.submit-button {
    background-color: #3abe9b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #2d8a74;
}

.list-button {
    background-color: #AAB339;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.list-button:hover {
    background-color: green;
}
